
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::-webkit-scrollbar {
  width: 6px;
  transition: all 2s ease; }

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff; }

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  max-height: 6px;
  background: #768ef4;
  transition: 0.3s; }

::-webkit-scrollbar-thumb:hover {
  background: #010B30; }

::selection {
  background-color: #A5B5F8;
  color: #fff; }



html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 68.7em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 5%; } }




@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden; } }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gilroy-Regular', sans-serif; }

.heading-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: -14px -14px 23px rgba(255, 255, 255, 0.24), 14px 14px 23px rgba(17, 17, 17, 0.24); }
  .heading-1--light {
    color: #fff; }
  .heading-1--dark {
    color: #010B30; }
  .heading-1--contact {
    text-shadow: 5px 5px 23px rgba(255, 255, 255, 0.24);
    font-size: 3rem; }
  .heading-1--m {
    font-size: 7.2rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      width: 100%;
      display: flex;
      justify-content: center; } }

.heading-3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #646464; }
  @media only screen and (max-width: 37.5em) {
    .heading-3 {
      font-size: 1.6rem; } }

.underline {
  width: 15rem;
  margin-bottom: 3rem;
  background-color: #F6F6F6; }
  .underline--1 {
    margin: 3rem 2rem 1.4px 0;
    border-bottom: 5px solid #010B30;
    border-radius: 4px;
    background-color: #F6F6F6; }
  .underline--2 {
    margin-left: 2rem;
    border-bottom: 5px solid #010B30;
    border-radius: 4px;
    background-color: #F6F6F6; }



.btn-primary, .btn-primary:link, .btn-primary:visited {
  background-color: #F6F6F6;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  margin-right: 4rem;
  border-radius: 10rem;
  transition: all .3s;
  font-family: 'Gilroy-Heavy', sans-serif;
  letter-spacing: 1px;
  color: #111;
  font-size: 1.7rem;
  box-shadow: -12px -12px 25px white, 12px 12px 25px rgba(165, 181, 248, 0.4); }
  @media only screen and (max-width: 56.25em) {
    .btn-primary, .btn-primary:link, .btn-primary:visited {
      font-size: 1.5rem; } }

.btn-primary:hover {
  box-shadow: 12px 12px 25px white, -10px -10px 25px rgba(165, 181, 248, 0.2); }

.btn-primary:active, .btn-primary:focus {
  box-shadow: -12px -12px 25px white, 10px 10px 25px rgba(165, 181, 248, 0.4); }

.btn-primary--center {
  display: block;
  margin-left: auto;
  margin-right: auto !important;
  width: fit-content;
  width: -moz-fit-content; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }



.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 4rem;
  padding-top: 3rem; }
  .title__underline > div:first-child {
    margin-top: 0; }
  @media only screen and (max-width: 56.25em) {
    .title {
      align-items: center;
      padding-top: 10rem;
      padding-left: 0; } }

.title hr {
  width: 15rem; }

.home {
  background-color: #F6F6F6;
  font-size: .8em;
  padding: 2em;
  height: 100vh; }
  @media only screen and (max-width: 68.7em) {
    .home {
      font-size: .6em; } }
  @media only screen and (max-width: 56.25em) {
    .home {
      font-size: 0.5 0.5em; } }

.home__heading {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  justify-content: space-evenly; }
  @media only screen and (max-width: 46.8em) {
    .home__heading {
      grid-template-columns: 5fr 2fr;
      justify-content: space-around; } }
  @media only screen and (max-width: 37.5em) {
    .home__heading {
      grid-template-columns: 1fr;
      justify-content: space-around; } }
  .home__heading__main {
    display: flex;
    flex-direction: column;
    padding-right: 20rem;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 46.8em) {
      .home__heading__main {
        padding-right: 0;
        font-size: 1.2em; } }
  .home__heading__name {
    font-family: vivaldi, serif;
    font-size: 14em;
    text-align: center; }
  @media only screen and (max-width: 68.7em) {
    .home__heading__svg {
      width: 30rem;
      height: 30rem; } }
  @media only screen and (max-width: 56.25em) {
    .home__heading__svg {
      width: 25rem;
      height: 25rem; } }
  @media only screen and (max-width: 46.8em) {
    .home__heading__svg {
      display: none; } }

.home__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .home__nav {
      display: none; } }

.home__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .home__top > h1:first-child {
    padding-left: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .home__top > h1:first-child {
        padding-left: 0;
        justify-self: center;
        font-size: 10em;
        margin-bottom: 3rem; } }



.learn-more {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #646464;
  animation: MoveUpDown 1s ease-in-out infinite; }
  @media only screen and (max-width: 56.25em) {
    .learn-more {
      display: none; } }
  .learn-more__text {
    margin-bottom: 6px;
    font-size: 1.7em; }
  .learn-more__svg {
    width: 2.5rem;
    height: 1.7rem; }
    @media only screen and (max-width: 68.7em) {
      .learn-more__svg {
        width: 2rem;
        height: 1rem; } }

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 5px; }
  50% {
    bottom: 8px; } }

.know-more {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .know-more {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      margin: auto;
      width: fit-content; } }

.not-active {
  display: none; }

.visible {
  visibility: visible !important;
  display: contents !important; }
  .visible > a {
    font-size: 1.8rem !important; }
  .visible > a:first-child {
    margin-left: 1rem; }

.nav {
  position: fixed;
  z-index: 999999;
  background-color: #fff;
  top: -70px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem; }
  .nav__title {
    font-family: vivaldi, serif;
    font-size: 5rem;
    letter-spacing: 2px;
    margin-left: 2rem;
    text-decoration: none;
    color: #111;
    font-weight: bolder; }
  .nav__links {
    width: 50%;
    display: flex;
    justify-content: space-evenly; }
    .nav__links-item {
      text-decoration: none;
      color: #646464;
      font-size: 2rem; }
      .nav__links-item:hover {
        color: #111;
        font-weight: 800; }
    @media only screen and (max-width: 46.8em) {
      .nav__links {
        width: 70%;
        visibility: hidden; } }
    @media only screen and (max-width: 37.5em) {
      .nav__links {
        width: 100%;
        visibility: hidden;
        display: none; } }

.nav-mob {
  display: none; }
  @media only screen and (max-width: 46.8em) {
    .nav-mob {
      display: contents; } }

.about {
  background-color: #F6F6F6;
  padding: 2em;
  height: 100vh;
  padding-top: 3em; }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    width: 60%;
    height: calc(100vh - 50%);
    padding: 3.5rem; }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        width: 100%;
        font-size: 2.2rem;
        justify-content: space-between;
        align-items: center; } }

        
  
.education {
  background-color: #F6F6F6;
  padding-top: 5rem; }

  .projects {
    background-color:white;
    padding-top: 2rem; }
  
.experience {
  padding-top: 5rem; }

.content-container {
  width: 70%;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 46.8em) {
    .content-container {
      width: 100%;
      text-align: center; } }

.content-list {
  padding: 2rem 4rem;
  line-height: 1.7;
  font-size: 1.9rem; }
  @media only screen and (max-width: 37.5em) {
    .content-list {
      font-size: 1.7rem; } }
  .content-list__title {
    color: #111;
    margin-bottom: 1.5rem; }
  .content-list__name {
    color: #646464;
    font-weight: 300;
    letter-spacing: 1.1px; }
    .content-list__name-link {
      text-decoration: none;
      color: #0f32c2;
      letter-spacing: 1.1px;
      font-family: 'Poppins', sans-serif; }
  .content-list__about {
    font-size: 1.6rem;
    margin: 1.5rem 0;
    color: #4b4b4b;
    font-weight: 400;
    letter-spacing: 0.5px; }
    @media only screen and (max-width: 46.8em) {
      .content-list__about {
        width: 90%;
        margin: 2rem auto; } }
  .content-list__date {
    font-family: Georgia, 'Times New Roman', Times, serif; }

.contact {
  background-color: #000411;
  padding-bottom: 10rem; 
  padding-top: 5rem;
}

 .contact-container {
  color: #A5A5A5;
  display: flex;
  
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem; }
 
 .contact-container__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Gilroy-Heavy', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C7C7C7; }
    .contact-container__links-item:link, .contact-container__links-item:visited {
      text-decoration: none;
      color: #C7C7C7;
      margin-bottom: 1rem; }
    .contact-container__links-item:active, .contact-container__links-item:hover {
      text-decoration: underline;
      color: #fff;
      margin-bottom: 1rem; } 

      
.contentlist{
  width: 800px;
  padding: 2rem 4rem;
  line-height: 1.7;
  font-size: 1.9rem;
 
}


#container{
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: space-between;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  align-items:center;
  justify-content: center;
  width:20%;
  height: 450px;
  padding: 1%;
  margin: 2%;
  float:left;
  
  
  
 
  
}


 
  

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.cardcontainer{
  padding: 10px 16px;

  
 
}
    
      
.skillrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.skillsdiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  flex-wrap: wrap;
  margin-left: 25%;
}
.skillparent {
  display: flex;
 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}


.skillLogo:hover {
 
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  
  transition-duration: 1s;
}

